@import "tailwindcss";

:root {
  --color-accent: #ff38b6;
  --color-disabled: #858585;
  --color-outline-focus: #1a75f5;
  --color-text-primary: #fff;
  --color-text-primary-reverse: #000;
  --color-text-secondary: #b3b3b3;
  --color-text-label: #808080;
  --color-text-error: #f51a51;
  --color-bg-primary: #000;
  --color-bg-secondary: #141414;
  --color-bg-primary-reverse: #fff;
  --color-bg-input-hover: #262626;
  --color-bg-card: rgb(7 7 7 / 50%);
  --color-bg-interactive-secondary: #333;
  --color-border-base: #7f7f7f;
  --color-border-input-primary: #4d4d4d;
  --color-border-input-active: #fffefe;
}

@theme {
  --color-accent: var(--color-accent);
  --color-disabled: var(--color-disabled);
  --color-outline-focus: var(--color-outline-focus);
  --color-text-primary: var(--color-text-primary);
  --color-text-primary-reverse: var(--color-text-primary-reverse);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-label: var(--color-text-label);
  --color-text-error: var(--color-text-error);
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-bg-primary-reverse: var(--color-bg-primary-reverse);
  --color-bg-input-hover: var(--color-bg-input-hover);
  --color-bg-card: var(--color-bg-card);
  --color-bg-interactive-secondary: var(--color-bg-interactive-secondary);
  --color-border-base: var(--color-border-base);
  --color-border-input-primary: var(--color-border-input-primary);
  --color-border-input-active: var(--color-border-input-active);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 32px;
}

body {
  margin: 0;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}
